p#daysuntil,p#daysuntilmsg,p#daysuntilmsg2{
	color: #FFFFFF;
	font-family: "Josefin Sans",monospace;
	background-color: #41598B;
	text-align: center;
}
p#daysuntil{
	font-size: 6vw;
	padding-bottom: 0px;
}
p#daysuntilmsg{
	font-size: 3vw;
	margin-top: -6vw;
}
p#daysuntilmsg2{
	font-size: 2vw;
	margin-top: -3vw;
	color: #41598B;
	background-color: #FFFFFF;
	border-bottom: 2px #41598B solid;
}
/** -- NO Need to bother with CSS beyond this point -- **/
p#source{
	position: fixed;
	bottom:0px;
	font-family: monospace;
	font-size: 5em;
}
p#source a{
	color:#e1e1e1;
	text-decoration: none;
}
p#source a span{
	vertical-align:top;
}
p#source a::before{
	font-family: fontawesome;
	content: '\f09b';
}
p#source a:hover, p#source a:hover::before{
	color:#a1a1a1;
	transition: 1s;
}
